* {
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100%;
    height: 100%;
    background: url(/assets/images/login_bg.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
}

.header {
    width: 1200px;
    margin-top: 20px;
}

.loginAndRegBox {
    position: fixed;
    width: 400px;
    height: 310px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.titleBox {
    width: 100%;
    height: 60px;
    background: url(/assets/images/login_title.png) no-repeat center;
}

.layui-form {
    padding: 0 30px;
}

.links {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
}

.layui-form-item {
    position: relative;
}


.layui-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}

.layui-input {
    padding-left: 32px;
}